@font-face {
  font-family: 'Bebas Neue Book';
  src: local('Bebas Neue Book'), local('BebasNeueBook'),
    url('/assets/fonts/BebasNeueBook.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
    url('/assets/fonts/BebasNeueCyrillic.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueCyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;/* все как у всех, ляпота*/
}
body{
  font-family: "Roboto", sans-serif;/* задать шрифт для всего сайта*/
}
.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;/* нижний бордер*/
}
.navbar{
  max-width: 1280px;
  margin: auto;
  display: flex; /* сделали блок гибким*/
  justify-content: space-between;/* расставить элементы по краям*/
  align-items: center;/* элементы по центру вертикаль*/
}
.navbar-menu{
  margin: 0;
  padding: 0;
  list-style: none;/* отключить точки*/
  display: flex;
  text-align: center;/* текст по центру*/ 
}
.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link{
  text-decoration: none;
  color: white;
}
.navbar-contacts{
  text-align: right;/* прижать к правому краю горизонт*/
}
.navbar-text{
  display: block;
  color: white;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar-phone{
  font-weight: 700;/* текст болд*/
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color:white;
}
.main{
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 99px;
  display: flex;
}
.main-info{
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
}
.home-image path{
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover{
  opacity: 1;
}
path.current-floor {
  opacity: 1;
}
.counter-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.counter-button{
  cursor: pointer;
  background-color: #fff;
  border: none;

}
.count-arrow-down {
  transform: rotateX(180deg);
}
.main-title{
  margin: 0;
  font-family: 'Bebas Neue Book',  sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.floor-counter{
  color: #635854;
  font-size: 124px;
  font-family: 'Bebas Neue Book',sans-serif;
  /*font-family: 'Bebas Neue Cyrillic',  sans-serif;*/
  margin-top: 10px;
}

.button-primary{
  background: #3596F5;
  border-radius: 6px;
  color:white;
  border:none;
  padding: 16px 36px;
  cursor: pointer;
}
.footer{
  height: 171px;
  background: #D7D7D7;
  border-top: 4px solid #3596F5;
}
.footer-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.footer-logo{
  margin-left: 80px;
  
  /*padding: 50px 50px;*/
}
.footer-contacts{
  text-align: left;
  color:#635854;
}
.footer-text{
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.footer-phone{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #635854;
}

.footerbar-nav{
  text-align: right;
}
.footerbar-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}
.footerbar-item{
  margin-left: 20px;
  margin-right: 20px;
  color:#635854;
}
.footer-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #635854;
  flex: none;
  order: 0;
  flex-grow: 0;
  /*margin: 0px 20px;*/
}
.imagebox-link{
  padding-left: 15px;
}
.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0,2s;
}
.is-open{
  opacity: 1;
  transform: scale(1);
}
.modal-dialog{
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}
.is-open > .modal-dialog{
  opacity: 1;
  transform: translateY(0);
}
.modal-image{
  background-color: #EBEBEB;
  width: 60%;
  text-align: center;
  padding: 50px;
}
.flats path{
  opacity: 0;
  cursor: pointer;
}
.flats path:hover{
  opacity: 1;
}
.modal-title{
  font-family: 'Bebas Neue Book',  sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
}
.modal-info{
  width: 40%;
  padding: 50px 46px;
  /*text-align: center;*/
}
.flat-list{
  padding: 0;
  list-style: none;
  margin-top: 55px;
}
.flat-item{
  margin-bottom: 10px;
}
.flat-link{
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}
.flat-link:hover{
  text-decoration-line: underline;
  color: #3596F5;
}
.modal-alert{
  padding-top: 56px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.modal-close-button{
  position: absolute;
  right: 27px;
  top: 38px;
  border:none;
  background-color:#fff;
  cursor: pointer;
}
