@font-face {
  font-family: 'Bebas Neue Book';
  src: local('Bebas Neue Book Regular'), local('BebasNeueBook'),
    url('/assets/fonts/BebasNeueBook.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
    url('/assets/fonts/BebasNeueCyrillic.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueCyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
    url('/assets/fonts/BebasNeueRegular.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light Regular'), local('BebasNeueLight'),
    url('/assets/fonts/BebasNeueLight.woff2') format('woff2'),
    url('/assets/fonts/BebasNeueLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;/* все как у всех, ляпота*/
}
body{
  font-family: "Roboto", sans-serif;/* задать шрифт для всего сайта*/
}
.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;/* нижний бордер*/
}
.navbar{
  max-width: 1280px;
  margin: auto;
  display: flex; /* сделали блок гибким*/
  justify-content: space-between;/* расставить элементы по краям*/
  align-items: center;/* элементы по центру вертикаль*/
}
.navbar-menu{
  margin: 0;
  padding: 0;
  list-style: none;/* отключить точки*/
  display: flex;
  text-align: center;/* текст по центру*/ 
}
.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link{
  text-decoration: none;
  color: white;
}
.navbar-contacts{
  text-align: right;/* прижать к правому краю горизонт*/
}
.navbar-text{
  display: block;
  color: white;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar-phone{
  font-weight: 700;/* текст болд*/
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color:white;
}
.main{
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-info{
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
}
.home-image path{
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover{
  opacity: 1;
}
.counter-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.counter-button{
  cursor: pointer;
  background-color: #fff;
  border: none;

}
.count-arrow-down {
  transform: rotateX(180deg);
}
.main-title{
  margin: 0;
  font-family: 'Bebas Neue Book',  sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.counter{
  color: #635854;
  font-size: 124px;
  font-family: 'Bebas Neue Book',sans-serif;
  /*font-family: 'Bebas Neue Cyrillic',  sans-serif;*/
  margin-top: 10px;
}
.button-primary{
  background: #3596F5;
  border-radius: 6px;
  color:white;
  border:none;
  padding: 16px 36px;
  cursor: pointer;
}